{% extends 'base.html' %}

{% block title %}{{ titulo }}{% endblock %}

{% block content %}
<div class="dashboard-container">
    <h1>Bienvenido al {{ titulo }}</h1>
    <p>Esta vista se está renderizando dentro del bloque central de <strong>base.html</strong>.</p>

    <div class="panel-control">
        <h3>Módulos del Sistema</h3>
        <ul>
            <li>Administración y control de cursos universitarios</li>
            <li>Gestión de alumnos, evaluaciones y asignación de equipos</li>
        </ul>
    </div>
</div>
{% endblock %}